<h1 style="color:white;position: relative;left: 35%;"><%= t "editing_singer" %></h1>

<%= render "form", singer: @singer %>

<br>

<div>
  <%= link_to (t "showw"), @singer %> |
  <%= link_to (t "backk"), singers_path %>
</div>
