<style>
.nice1{
  font-weight: bold;
}

</style>
<%if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Самый лучший сайт на свете</h1>
    <p>Чтобы пользоваться этим сайтом, нужно войти в свой аккаунт или зарегистрироваться</p>
    <p><%= link_to "Войти", new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
  </div>
<%end%>
<h1>Current Artists</h1>
<div class="row">
  <% @singers.limit(12).order('name ASC').each do |singer|%>
    <div class="col-sm-6 col-md-3">
      <% if singer.name == "Kanye West" %>
        <div class="l", id="bard">
          <%= link_to (image_tag singer.image,style:"width:200px; height:200px", class: 'image'), singer %>
        </div>
      <% else %>
        <div>
          <%= link_to (image_tag singer.image,style:"width:200px; height:200px", class: 'image'), singer %>
        </div>
      <%end%>
      <div class="nice1">
        <%= link_to (singer.name), singer, style: 'color:#000000'%>
      </div>
    </div>
  <%end%>
</div>