<h1 style="color:white;position: relative;left: 35%;"><%= t "editing_album" %></h1>
<%= render "form", album: @album %>

<br>

<div>
  <%= link_to (t "show"), @album %> |
  <%= link_to (t "back"), albums_path %>
</div>
