<h1 style="color:white;position: relative;left: 35%;"><%= t "new_review" %></h1>

<%= render "form", review: @review %>

<br>

<div>
  <%= link_to (t "bak"), album_path(@album), style: 'color:white'  %>
</div>
